.all-doc-cont {
  width: 90%;
  margin: 20px auto;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
}
/* .doctor-card:first-child {
    margin-left: 0;
} */
.doctor-card {
  width: 200px;
  padding: 30px 20px;
  background: white;
  margin-left: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.doctor-card:hover {
    box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.103);
}
.doc-name {
  font-weight: 600;
  font-size: 12px;
  margin-top: 5px;
}
.doc-email {
  font-weight: 600;
  font-size: 10px;
  color: grey;
  margin-top: 8px;
}
.doc-category {
  margin-top: 20px;
  padding: 5px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  color: #05a081b0;
  background: #05a0812a;
  border-radius: 3px;
}
