.drop-down-cont {
  width: 360px;
  /* padding: 6px; */
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  color: black;
  border: 0.1px solid rgba(128, 128, 128, 0.158);
  background: var(--border-color);
  border-radius: 3px;
  outline-color: var(--primary);
  position: relative;
  align-items: center;
  font-size: 13px;
}
.drop-down-cont i {
  cursor: pointer;
}
.drop-down-select {
  width: 200px;
  background: white;
  bottom: -90%;
  position: absolute;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.26);
}
.drop-down-select p {
  cursor: pointer;
  padding: 10px 10px;
  font-size: 13px;
}
.drop-down-select p:hover {
  background: var(--primary);
  color: white;
}
