.error-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  z-index: 999;
}
.error {
  font-size: 10px;
  font-weight: 600;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.error-cont i {
  font-size: 14px;
}
.error p,
i {
}
