.profilePage-img {
  width: 80px;
  max-height: 80px;
  border-radius: 60px;
  overflow: hidden;
  position: relative;
}
.profilePage-img img {
  width: 100%;
  border-radius: 60px;
}
.profileImageCont {
  display: flex;
  align-items: center;
  width: 250px;
  justify-content: space-between;
  position: relative;
  margin: 0px auto;
  /* margin-left: 50px; */
  margin-top: 30px;
}

.profile-form {
  width: 670px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.profile-form label {
  display: block;
  font-size: 12px;
  text-align: left;
  font-weight: 600;
  /* margin: 0;
  padding: 0; */
  margin-top: 30px;
  color: gray;
}
.regionSelect {
  width: 380px;
  padding: 5px 5px;
  border: none;
  border: 0.1px solid rgba(128, 128, 128, 0.158);
  background: var(--border-color);
  outline-color: var(--primary-sec);
}
.prof-over-cont {
  width: 300px;
  margin: 20px auto;
}
.prof-over-cont-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  font-size: 14px;
  margin-top: 10px;
}
.prof-over-cont-text p {
  /* margin-left: 10px; */
  text-align: left;
  font-size: 12px;
}

/* --------------------------------------------------------------- */

.prof-page-conts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
}

.profileImageConts {
  width: 200px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.profileImageConts i {
  position: absolute;
  right: 40px;
  z-index: 1;
  color: white;
  padding: 10px;
  border-radius: 100%;
  background: var(--btn-color);
  cursor: pointer;
}
.profilePage-imgs {
  width: 100px;
  max-height: 100px;
  border-radius: 60px;
  overflow: hidden;
  position: relative;
}
.profilePage-imgs img {
  width: 100%;
  border-radius: 60px;
}

.prof-left {
  width: 310px;
  padding: 30px 20px;
  background: white;
  border-radius: 8px;
  max-height: 57vh;
}
.prof-right {
  width: 780px;
  padding: 10px 20px 15px 20px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-wrap: wrap;
}
.prof-right-comp h6 {
  margin-top: 10px;
}
.prof-right-comp p {
  font-size: 14px;
  color: grey;
  margin-top: 10px;
}
.prof-right-comp main {
  margin-top: 30px;
}
.prof-input {
  display: block;
  margin-top: 20px;
}
.prof-input label {
  text-transform: capitalize;
  color: grey;
  font-size: 12px;
  font-weight: bold;
}
.prof-right input {
  width: 370px;
  padding: 5px 5px;
  border: none;
  border: 0.1px solid rgba(128, 128, 128, 0.158);
  background: var(--border-color);
  outline-color: var(--primary-sec);
}
