.tab-cont {
  width: 90%;
  height: 50px;
  line-height: 30px;
  border-radius: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px auto;
}
.tab-link {
  cursor: pointer;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  color: grey;
}
.tab-active {
  color: white;
  background-color: var(--primary);
  padding: 2px 15px;
  border-radius: 20px;
}
